## First get the 'weather' table from 'sharedmobility' database

In [1]:
import psycopg2
import pandas as pd
import numpy as np

# Connect to the PostgreSQL database
ENDPOINT = 'sharedmobility.cnls2nxrzngg.us-east-1.rds.amazonaws.com'
DB_NAME = 'sharedmobility'
USERNAME = 'nithu'
PASSWORD = 'DWH_2023'

conn = psycopg2.connect("host={} dbname={} user={} password={}".format(ENDPOINT, DB_NAME, USERNAME, PASSWORD))
# Define the SQL query to select float4 data from the database
sql_query = "SELECT * FROM weather"   
#where load date = xx.xx.xxxx
df_weather = pd.read_sql_query(sql_query, conn)
conn.close()

# Shift column 'municipality' to first position
column = df_weather.pop('location')
df_weather.insert(1, 'location', column)
df_weather['location'] = df_weather['location'].astype(str)

# Drop the rows that are not needed in the location column
df_weather = df_weather.drop(df_weather[df_weather['location'] == 'Vaduz'].index) # Vaduz is the capital of Liechtenstein
df_weather = df_weather.drop(df_weather[df_weather['location'] == 'Schaan'].index) # City of Liechtenstein
df_weather = df_weather.drop(df_weather[df_weather['location'] == 'Konstanz'].index) # City of Germany

# Cleaning location column to match with demographics table
df_weather['location'] = df_weather['location'].str.split('(').str[0]
df_weather['location'] = df_weather['location'].str.split('/').str[0]
df_weather['location'] = df_weather['location'].replace(' ', '', regex=True)
df_weather['location'] = df_weather['location'].replace('Canton of Basel-City', 'Basel', regex=True)
df_weather['location'] = df_weather['location'].replace('CantonofBasel-City', 'Basel', regex=True)
df_weather['location'] = df_weather['location'].replace('Bezirk ', '', regex=True)
df_weather['location'] = df_weather['location'].replace('Amt ', '', regex=True)
df_weather['location'] = df_weather['location'].replace(' District', '', regex=True)
df_weather['location'] = df_weather['location'].replace('Les Avanchets', 'Genève', regex=True)
df_weather['location'] = df_weather['location'].replace('LesAvanchets', 'Genève', regex=True)
df_weather['location'] = df_weather['location'].replace('Les Pâquis', 'Genève', regex=True)
df_weather['location'] = df_weather['location'].replace('LesPâquis', 'Genève', regex=True)
df_weather['location'] = df_weather['location'].replace('Bronschhofen', 'Wil', regex=True)
df_weather['location'] = df_weather['location'].replace('Châtelaine', 'Genève', regex=True)
df_weather['location'] = df_weather['location'].replace('Lucerne', 'Luzern', regex=True)
df_weather['location'] = df_weather['location'].replace('Giubiasco', 'Bellinzona', regex=True)
df_weather['location'] = df_weather['location'].replace('Martigny-Ville', 'Martigny', regex=True)
df_weather['location'] = df_weather['location'].replace('Gerliswil', 'Emmen', regex=True)
df_weather['location'] = df_weather['location'].replace('Ramersberg', 'Sarnen', regex=True)
df_weather['location'] = df_weather['location'].replace('Gerliswil', 'Emmen', regex=True)
df_weather['location'] = df_weather['location'].replace('Neu-Felsberg', 'Felsberg', regex=True)
df_weather['location'] = df_weather['location'].replace('Collombey', 'Collombey-Muraz', regex=True)         # If run more than once, it will replace Collombey twice
df_weather['location'] = df_weather['location'].replace('Breganzona', 'Lugano', regex=True)
df_weather['location'] = df_weather['location'].replace('Flamatt', 'Wünnewil-Flamatt', regex=True)          # If run more than once, it will replace Flamatt twice
df_weather['location'] = df_weather['location'].replace('Camorino', 'Bellinzona', regex=True)
df_weather['location'] = df_weather['location'].replace('Cointrin', 'Genève', regex=True)
df_weather['location'] = df_weather['location'].replace('Bützberg', 'Thunstetten', regex=True)
df_weather['location'] = df_weather['location'].replace('Pregny', 'Pregny-Chambésy', regex=True)            # If run more than once, it will replace Pregny twice
df_weather['location'] = df_weather['location'].replace('Canton of Schaffhausen', 'Schaffhausen', regex=True)
df_weather['location'] = df_weather['location'].replace('Goldswil', 'Ringgenberg', regex=True)
df_weather['location'] = df_weather['location'].replace('SionDistrict', 'Sion', regex=True)
df_weather['location'] = df_weather['location'].replace('BezirkSchaffhausen', 'Schaffhausen', regex=True)
df_weather['location'] = df_weather['location'].replace('BezirkAarau', 'Aarau', regex=True)
df_weather['location'] = df_weather['location'].replace('AmtLuzern', 'Luzern', regex=True)




# Create a new column ID with the union of datetime and coordinates
df_weather['weather_id'] = df_weather['load'].astype(str) +'-'+ df_weather['latitude'].astype(str) +'-'+ df_weather['longitude'].astype(str)

# Selecting the columns that are needed
weather = df_weather[['weather_id', 'load', 'location', 'latitude', 'longitude', 'temp', 'temp_min',
       'temp_max', 'wind_speed', 'weather_main', 'weather_description', 'visibility']]
print(df_weather.columns)
weather.head()

c:\Users\eduar\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Index(['load', 'location', 'latitude', 'longitude', 'id_weather',
       'weather_main', 'weather_description', 'temp', 'temp_fells', 'temp_min',
       'temp_max', 'pressure', 'humidity', 'sea_level', 'ground_level',
       'visibility', 'wind_speed', 'wind_degrees', 'wind_gust', 'datetime',
       'country_code', 'sunrise', 'sunset', 'timezone', 'weather_id'],
      dtype='object')

,weather_id,load,location,latitude,longitude,temp,temp_min,temp_max,wind_speed,weather_main,weather_description,visibility
0,2023-04-22 19:15:07.251365-47.3669-8.4942,2023-04-22 19:15:07.251365,Zürich,47.3669,8.4942,13.18,11.36,14.39,2.06,Clear,clear sky,10000
1,2023-04-22 19:15:07.397682-47.4423-8.4606,2023-04-22 19:15:07.397682,Regensdorf,47.4423,8.4606,13.35,11.18,14.52,2.06,Clear,clear sky,10000
2,2023-04-22 19:15:07.543179-47.0583-8.3096,2023-04-22 19:15:07.543179,Luzern,47.0583,8.3096,12.67,10.69,14.30,1.54,Clouds,broken clouds,10000
3,2023-04-23 12:22:07.429102-46.2166-6.1059,2023-04-23 12:22:07.429102,Genève,46.2166,6.1059,17.87,15.64,17.99,5.66,Clouds,few clouds,10000
4,2023-04-23 12:22:07.577018-46.1745-6.1183,2023-04-23 12:22:07.577018,Plan-les-Ouates,46.1745,6.1183,18.01,15.75,18.10,5.66,Clouds,few clouds,10000

In [2]:
# search for null values
weather.isnull().sum()

weather_id             0
load                   0
location               0
latitude               0
longitude              0
temp                   0
temp_min               0
temp_max               0
wind_speed             0
weather_main           0
weather_description    0
visibility             0
dtype: int64

## Code to get demographics from S3 bucket

In [103]:
## RUN JUST WITH FRESH ACCESS KEYS

# ! pip install boto3
import boto3 # make --> pip install boto3
import pandas as pd
import io

# Accessing the S3 buckets using boto3 client
s3_client =boto3.client('s3')
s3_bucket_name='dwldatasetage'
s3 = boto3.resource('s3',
                    aws_access_key_id='ASIA2C2HI7F6T7YCZYPV',
                    aws_secret_access_key='80F66Jw471suaP2aTzVGT2mXs5w2d69NAn5uqLT5',
                    aws_session_token='FwoGZXIvYXdzEJv//////////wEaDH+HnPdPNwEsuz7UyyK/ARS9jb2sIjd5swaJOM4c57Y3EGRjjkIBj7yWT+eneB9MK6QP4nm5El4BWm5v/VhmTFEwA/1cp6a+s6leRGks9smkvqrb7MptHpnV0h5BgGrhqlL/C7P+mQ3FwVF6ibRX95egCixlEgNodgL0EM3AvmCy+866q7ILBqekHIg3+GeuL7tte3+z9TGhpdYnPpcSdq30g7VGYVpsXkj4k16eiGHeOgCqt//SuvARzfwWAwTlTtQb13+Cgt86ikoGWYM9KNrm8qIGMi0/8g/cWWQ3LJyW3I8Fm3pZGP2kcVGo51PIVO2f0uDvkFkT94kM3LBTqFpR7t8=')

# Getting data files from the AWS S3 bucket as denoted above and printing the first 10 file names having prefix "2019/7/8" 
my_bucket=s3.Bucket(s3_bucket_name)

for my_bucket_object in my_bucket.objects.all():
    response = my_bucket_object.get()

data = response['Body'].read().decode('utf-8')
df = pd.read_csv(io.StringIO(data), sep=';')    

# Data Transformation
#first only keep values in column 'Zipcode' which are between 0001 and 6810
df['zipcode'] = df['zipcode'].astype(str)
df = df[(df['zipcode'] >= '0001') & (df['zipcode'] <= '6810')]

#only keep values with a length of 4. This gives you a list of all municipalities.
df = df[df['zipcode'].str.len() == 4]

#cut off the first 11 caracters
df['name'] = df['name'].str[11:]

#rename the column 'name' to 'municipality'
df = df.rename(columns={'name': 'municipality'})

# Add average age column
age_cols = [col for col in df.columns if col != 'zipcode' and col != 'municipality']
df['average_age'] = round((df[age_cols] * range(len(age_cols))).sum(axis=1) / df[age_cols].sum(axis=1),2)

# make agegroups
df['0-17 years'] = df.loc[:, '0 years':'17 years'].sum(axis=1)
df['18-34 years'] = df.loc[:, '18 years':'34 years'].sum(axis=1)
df['35-50 years'] = df.loc[:, '35 years':'50 years'].sum(axis=1)
df['51-69 years'] = df.loc[:, '51 years':'69 years'].sum(axis=1)
df['70+ years'] = df.loc[:, '70 years':'100 years or older'].sum(axis=1)
df['population'] = df.loc[:, '0-17 years':'70+ years'].sum(axis=1)

# drop unneeded columns except name, country, gender, agegroups and total-age
df_demograph = df.loc[:, ['municipality', 'population', 'average_age', '0-17 years', '18-34 years', '35-50 years', '51-69 years', '70+ years']]

# Cleaning municipality column to match with demographics table
df_demograph['municipality'] = df_demograph['municipality'].str.split('(').str[0]
df_demograph['municipality'] = df_demograph['municipality'].replace(' ', '', regex=True)
# reset index
df_demograph = df_demograph.reset_index(drop=True)

df_demograph

,municipality,population,average_age,0-17 years,18-34 years,35-50 years,51-69 years,70+ years
0,AeugstamAlbis,1988,44.54,333,300,428,667,260
1,AffolternamAlbis,12404,41.77,2253,2686,2759,2996,1710
2,Bonstetten,5632,40.97,1205,941,1390,1387,709
3,HausenamAlbis,3852,42.92,773,546,902,1116,515
4,Hedingen,3780,42.13,719,661,866,1076,458
...,...,...,...,...,...,...,...,...
2158,Vendlincourt,559,45.76,83,119,86,163,108
2159,Basse-Allaine,1225,44.64,241,199,227,331,227
2160,ClosduDoubs,1284,45.21,222,226,232,366,238
2161,Haute-Ajoie,1073,47.34,168,172,185,337,211
2162,LaBaroche,1126,44.83,207,193,203,321,202

In [105]:
# Merging the two dataframes
df_merged = pd.merge(df_weather, df_demograph, left_on='location', right_on='municipality')
df_merged = df_merged.drop(columns='municipality')
df_merged

,load,location,latitude,longitude,id_weather,weather_main,weather_description,temp,temp_fells,temp_min,...,sunrise,sunset,timezone,population,average_age,0-17 years,18-34 years,35-50 years,51-69 years,70+ years
0,2023-04-22 19:15:07.251365,Zürich,47.3669,8.4942,800,Clear,clear sky,13.18,12.46,11.36,...,None,None,7200,423193,39.90,69070,112659,114025,81412,46027
1,2023-04-23 12:22:12.691557,Zürich,47.4194,8.5070,801,Clouds,few clouds,18.30,17.78,15.27,...,None,None,7200,423193,39.90,69070,112659,114025,81412,46027
2,2023-04-23 12:22:12.988059,Zürich,47.3849,8.5193,801,Clouds,few clouds,18.53,18.03,15.61,...,None,None,7200,423193,39.90,69070,112659,114025,81412,46027
3,2023-04-23 12:23:30.625255,Zürich,47.4194,8.5070,801,Clouds,few clouds,18.30,17.78,15.27,...,None,None,7200,423193,39.90,69070,112659,114025,81412,46027
4,2023-04-23 12:23:30.916158,Zürich,47.3849,8.5193,801,Clouds,few clouds,18.53,18.03,15.61,...,None,None,7200,423193,39.90,69070,112659,114025,81412,46027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4613,2023-05-02 16:45:41.517386,Würenlos,47.4337,8.3550,500,Rain,light rain,14.69,14.15,12.29,...,None,None,7200,6494,42.46,1335,993,1537,1731,898
4614,2023-05-04 09:01:29.918262,Pfeffingen,47.4748,7.5947,800,Clear,clear sky,17.05,16.48,15.38,...,None,None,7200,2436,45.46,469,315,462,763,427
4615,2023-05-07 14:44:40.041826,Männedorf,47.2485,8.7238,500,Rain,light rain,18.09,17.60,15.97,...,None,None,7200,11373,44.11,2049,1889,2510,3067,1858
4616,2023-05-10 13:46:30.047668,Feuerthalen,47.7004,8.6367,804,Clouds,overcast clouds,15.76,15.27,13.17,...,None,None,7200,3764,42.15,697,712,895,969,491
4617,2023-05-10 17:42:37.012482,Feuerthalen,47.7004,8.6367,804,Clouds,overcast clouds,13.06,12.41,11.16,...,None,None,7200,3764,42.15,697,712,895,969,491

### All cells below were just to wrangle and clean the data

In [92]:
# Check length of both dataframes municipalities
print(len(df_weather['location'].unique()))
print(len(df_demograph['municipality'].unique()))

79
2118

In [ ]:
# To check a single municipality exists in the dataframe
result = df_demograph[df_demograph['municipality'].str.contains('St.Gallen')]
print(len(result['municipality']))
result

In [ ]:
# To check a single municipality exists in the dataframe
result = df_weather[df_weather['location'].str.contains('St. Gallen')]
print(len(result['location']))
result

In [93]:
# Check if all municipalities in the demographics dataframe are in the weather dataframe
equal_elements = df_weather[df_weather['location'].isin(df_demograph['municipality'])]
unequal_elements = df_weather[~df_weather['location'].isin(df_demograph['municipality'])]
print(len(equal_elements))
print(len(unequal_elements))

4660
0

In [358]:
df_weather['location'][1]

'Regensdorf'

In [359]:
df_demograph['municipality'][316]

'Regensdorf'

In [95]:
unequal_elements.groupby('location').size()

Series([], dtype: int64)

In [25]:
# save the dataframe to a csv file
merged_df.to_csv('merged_df.csv', index=False)